
***Universidad Central del Ecuador***

**Nombre:** Basantes Zambrano Yadira Karina

**Fecha:** 30/07/2022

### **Ejercicios Clase 2**

**Ejercicio 1**

Programa la impresión de una tabla de multiplicar para todos los números entre 1 y 10, usando For-loops

1   times  1  =    1

1   times  2  =    2

1   times 10  =   10

10   times 10  =  100

In [ ]:
for numero1 in range(1,10+1):
  print("Tabla de multiplicar del número =", numero1)
  for numero2 in range(1,10+1):
    print("      ",numero1,"times",numero2,"=",numero1*numero2)

Tabla de multiplicar del número = 1
       1 times 1 = 1
       1 times 2 = 2
       1 times 3 = 3
       1 times 4 = 4
       1 times 5 = 5
       1 times 6 = 6
       1 times 7 = 7
       1 times 8 = 8
       1 times 9 = 9
       1 times 10 = 10
Tabla de multiplicar del número = 2
       2 times 1 = 2
       2 times 2 = 4
       2 times 3 = 6
       2 times 4 = 8
       2 times 5 = 10
       2 times 6 = 12
       2 times 7 = 14
       2 times 8 = 16
       2 times 9 = 18
       2 times 10 = 20
Tabla de multiplicar del número = 3
       3 times 1 = 3
       3 times 2 = 6
       3 times 3 = 9
       3 times 4 = 12
       3 times 5 = 15
       3 times 6 = 18
       3 times 7 = 21
       3 times 8 = 24
       3 times 9 = 27
       3 times 10 = 30
Tabla de multiplicar del número = 4
       4 times 1 = 4
       4 times 2 = 8
       4 times 3 = 12
       4 times 4 = 16
       4 times 5 = 20
       4 times 6 = 24
       4 times 7 = 28
       4 times 8 = 32
       4 times 9 = 36
       4 times 10 = 40
Tabla de multiplicar del número = 5
       5 times 1 = 5
       5 times 2 = 10
       5 times 3 = 15
       5 times 4 = 20
       5 times 5 = 25
       5 times 6 = 30
       5 times 7 = 35
       5 times 8 = 40
       5 times 9 = 45
       5 times 10 = 50
Tabla de multiplicar del número = 6
       6 times 1 = 6
       6 times 2 = 12
       6 times 3 = 18
       6 times 4 = 24
       6 times 5 = 30
       6 times 6 = 36
       6 times 7 = 42
       6 times 8 = 48
       6 times 9 = 54
       6 times 10 = 60
Tabla de multiplicar del número = 7
       7 times 1 = 7
       7 times 2 = 14
       7 times 3 = 21
       7 times 4 = 28
       7 times 5 = 35
       7 times 6 = 42
       7 times 7 = 49
       7 times 8 = 56
       7 times 9 = 63
       7 times 10 = 70
Tabla de multiplicar del número = 8
       8 times 1 = 8
       8 times 2 = 16
       8 times 3 = 24
       8 times 4 = 32
       8 times 5 = 40
       8 times 6 = 48
       8 times 7 = 56
       8 times 8 = 64
       8 times 9 = 72
       8 times 10 = 80
Tabla de multiplicar del número = 9
       9 times 1 = 9
       9 times 2 = 18
       9 times 3 = 27
       9 times 4 = 36
       9 times 5 = 45
       9 times 6 = 54
       9 times 7 = 63
       9 times 8 = 72
       9 times 9 = 81
       9 times 10 = 90
Tabla de multiplicar del número = 10
       10 times 1 = 10
       10 times 2 = 20
       10 times 3 = 30
       10 times 4 = 40
       10 times 5 = 50
       10 times 6 = 60
       10 times 7 = 70
       10 times 8 = 80
       10 times 9 = 90
       10 times 10 = 100

**EJERCICIO 2**

2 Programe un calendario (para todos los meses) para 2020 usando For-loops Rendimiento esperado:

 January    

 Mon Tue Wed Thu Fri Sat Sun  

            1   2   3   4   5
     6   7   8   9  10  11  12
     13  14  15  16  17  18  19
     20  21  22  23  24  25  26
     27  28  29  30  31

 February
 
 Mon Tue Wed Thu Fri Sat Sun
                       
                     1   2

In [ ]:
import calendar
for calendario in range(1,12+1):
  print(calendar.month(2020,calendario))

    January 2020
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

   February 2020
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29

     March 2020
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

     April 2020
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

      May 2020
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

     June 2020
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

     July 2020
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

    August 2020
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

   September 2020
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

    October 2020
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

   November 2020
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

   December 2020
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

**EJERCICIO 3**

3 Programe la siguiente regulación fiscal, usando datos ficticios con declaraciones condicionales, use las tres cláusulas (if, elif, else) al menos una vez

Si el valor del paquete es inferior a 20 no tienes que pagar ningún impuesto de importación Si el valor del paquete está entre 20 y 30 pagas 10% de impuesto de importación sobre el valor total Si el valor del paquete está entre 30 y 60, paga un impuesto de importación adicional del 7% sobre el valor superior a 30 Si el valor del paquete es superior a 60, paga un impuesto de importación adicional del 3% sobre el valor superior a 60

Si el valor del paquete es superior a 10 pagas el 20% de IVA sobre la suma total del valor e impuesto de importación

El valor del paquete debe establecerse en una variable y debe probar si su programa funciona para diferentes valores.

**Salida esperada (ejemplo):**

El valor del paquete fue de 25,00, el impuesto de importación es de 2,50, el IVA es de 5,50, el total es de 33,00.

In [ ]:
valor = int(input("Digite el valor del paquete"))

if valor >=10 and valor<20:
    IVA=(valor*0.2)
    Total = round(valor+IVA, 2)
    print("El valor del paquete fue de",valor, "no tiene que pagar impuesto, el IVA es de", IVA,"el total es de ",Total)

elif valor <20:
    print("El valor del paquete fue de",valor, "no tiene que pagar impuesto, el total es de ",valor)

elif valor >= 20 and valor <= 30:
    Impuesto = valor*0.10
    IVA = round(valor*0.2+Impuesto*0.2, 2)
    Total = round(valor+Impuesto+IVA, 2)
    print("El valor del paquete fue de", valor, ", el impuesto de importación es de", Impuesto, ", el IVA es de", IVA, ",el total es de ", Total )

elif valor >=30 and valor <= 60:
    Impuesto = valor*0.07
    IVA = round(valor*0.2+Impuesto*0.2, 2)
    Total = round(valor+Impuesto+IVA, 2)
    print("El valor del paquete fue de", valor, ", el impuesto de importación es de", Impuesto, ", el IVA es de", IVA, ",el total es de ", Total )

elif valor > 60:
     Impuesto = valor*0.03
     IVA = round(valor*0.2+Impuesto*0.2, 2)
     Total = round(valor+Impuesto+IVA, 2)
     print("El valor del paquete fue de", valor, ", el impuesto de importación es de", Impuesto, ", el IVA es de", IVA, ",el total es de ", Total )

Digite el valor del paquete3
El valor del paquete fue de 3 no tiene que pagar impuesto, el total es de  3

**Ejercicio 4**

Reescribe el siguiente programa reemplazando la declaración condicional con expresiones condicionales

In [ ]:
a = -1
if a == 0:
    result = "= 0"
elif a>1:
    result = "> 1"
else:
    result = "<= 1"
print(result)

<= 1

In [ ]:
a = int(input("Ingrese el valor:"))
if a == 0:
    result = "= 0"
elif a>1:
    result = "> 1"
else:
    result = "<= 1"
print(result)

Ingrese el valor:2
> 1

**Ejercicio 5**

Reescriba el siguiente programa reemplazando la lista de comprensión con un while-loop

In [ ]:
list_1 = [1, 2, 3, 4]
result  =  [digit ** 2 for digit in list_1 if digit % 2 == 0]
print(result)

[4, 16]

In [ ]:
list_1 = [1, 2, 3, 4]
while list_1 :
    result  =  [digit ** 2 for digit in list_1 if digit % 2 == 0]
    print(result)
    break

[4, 16]

**Ejercicio 6**

En la clase 1 te mostramos las siguientes afirmaciones:

In [ ]:
a = 1
b = 1
print(a is b)

a = 1000
b = 1000
print(a is b)

True
False

In [ ]:
for x in range(1000):
    a = x
    b = x
    if not (a is b):
        print(f"the highest integer {x-1}")
        break
else:
    print("Surprise")

Surprise

**Ejercicio 7**

Vuelva a escribir la siguiente declaración sin un bucle y solo usando declaraciones condicionales:

In [ ]:
i = 1
while i < 4:
    print(i)
    i +=1

1
2
3

In [ ]:
i = 1
if i < 4:
    print(i)
    print(i+1)
    print(i+2)

1
2
3