### **Universidad Central del Ecuador**

### **Facultad de Ciencias Económicas**

### **Curso de Python**

*Ejercicio 1*

**1.** Programa la impresión de una tabla de multiplicar para todos los números entre 1 y 10, usando For-loops
## Rendimiento esperado:
     1   times  1  =    1
     1   times  2  =    2
     ...
     1   times 10  =   10
     ...
    10   times 10  =  100

In [ ]:
for mult in range (1,11,):
    print ("Tabla de Multiplicar del:", mult)
    for i in range (11):
        print (mult,"*", i, "=",mult*i )

Tabla de Multiplicar del: 1
1 * 0 = 0
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
Tabla de Multiplicar del: 2
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
Tabla de Multiplicar del: 3
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
Tabla de Multiplicar del: 4
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
Tabla de Multiplicar del: 5
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
Tabla de Multiplicar del: 6
6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
Tabla de Multiplicar del: 7
7 * 0 = 0
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
Tabla de Multiplicar del: 8
8 * 0 = 0
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
Tabla de Multiplicar del: 9
9 * 0 = 0
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
Tabla de Multiplicar del: 10
10 * 0 = 0
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

*Ejercicio 2*

**2.** Programe un calendario (para todos los meses) para 2020 usando For-loops
## Rendimiento esperado:
     January                     
     Mon Tue Wed Thu Fri Sat Sun  
              1   2   3   4   5
      6   7   8   9  10  11  12
     13  14  15  16  17  18  19
     20  21  22  23  24  25  26
     27  28  29  30  31
     
     February
     Mon Tue Wed Thu Fri Sat Sun
                           1   2

In [ ]:
import calendar
año = int(input("Año:"))
for i in range (1,13,1):
    print(calendar.month(año,i))

Año:2020
    January 2020
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

   February 2020
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29

     March 2020
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

     April 2020
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

      May 2020
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

     June 2020
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

     July 2020
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

    August 2020
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

   September 2020
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

    October 2020
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

   November 2020
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

   December 2020
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

*Ejercicio 3*

**3.** Programe la siguiente regulación fiscal, usando datos ficticios con declaraciones condicionales, use las tres cláusulas (if, elif, else) al menos una vez
Si el valor del paquete es inferior a 20 no tienes que pagar ningún impuesto de importación
Si el valor del paquete está entre 20 y 30 pagas 10% de impuesto de importación sobre el valor total
Si el valor del paquete está entre 30 y 60, paga un impuesto de importación adicional del 7% sobre el valor superior a 30
Si el valor del paquete es superior a 60, paga un impuesto de importación adicional del 3% sobre el valor superior a 60

Si el valor del paquete es superior a 10 pagas el 20% de IVA sobre la suma total del valor e impuesto de importación

El valor del paquete debe establecerse en una variable y debe probar si su programa funciona para diferentes valores.
### Salida esperada (ejemplo):
El valor del paquete fue de 25,00, el impuesto de importación es de 2,50, el IVA es de 5,50, el total es de 33,00.

In [ ]:
paquete = int(input("Valor del Paquete:"))

if paquete>=10 and paquete<20:
    iva=(paquete*0.2)
    print("El valor del paquete fue de $",paquete, "no tienes que pagar ningún impuesto de importación, el IVA es de",iva,"el total es de", (paquete+iva)) 
elif paquete < 20:
    print("El valor del paquete fue de $",paquete, ", no tienes que pagar ningún impuesto de importación, el total es de ", paquete)
elif paquete>=20 and paquete<=30:
    impuesto=paquete*0.10
    iva=(paquete*0.2)+(impuesto*0.2)
    print("El valor del paquete fue de $",paquete, "el impuesto de importación es de",impuesto, "el IVA es de",iva,"el total es de", (paquete+iva+impuesto)) 
    
elif paquete>=30 and paquete<=60:
    impuesto=paquete*0.07
    iva=(paquete*0.2)+(impuesto*0.2)
    print("El valor del paquete fue de $",paquete, "el impuesto de importación es de",impuesto, "el IVA es de",iva,"el total es de", (paquete+iva+impuesto)) 
    
elif paquete > 60:
    impuesto=paquete*0.03
    iva=(paquete*0.2)+(impuesto*0.2)
    print("El valor del paquete fue de $",paquete, "el impuesto de importación es de",impuesto, "el IVA es de",iva,"el total es de", (paquete+iva+impuesto))

Valor del Paquete:25
El valor del paquete fue de $ 25 el impuesto de importación es de 2.5 el IVA es de 5.5 el total es de 33.0

*Ejercicio 4*

**4.** Reescribe el siguiente programa reemplazando la declaración condicional con expresiones condicionales

In [ ]:
a = -1
if a == 0:
    result = "= 0"
elif a>1:
    result = "> 1"
else:
    result = "<= 1"
print(result)

<= 1

In [ ]:
a = int(input("Ingrese el valor:"))
if a == 0:
    result = "= 0"
elif a>1:
    result = "> 1"
else:
    result = "<= 1"
print(result)

Ingrese el valor:2
> 1

*Ejercicio 5*

**5.** Reescriba el siguiente programa reemplazando la lista de comprensión con un while-loop

In [ ]:
list_1 = [1, 2, 3, 4]
result  =  [digit ** 2 for digit in list_1 if digit % 2 == 0]
print(result)

[4, 16]

In [ ]:
list_1 = [1, 2, 3, 4]
while list_1 :
    result  =  [digit ** 2 for digit in list_1 if digit % 2 == 0]
    print(result)
    break

[4, 16]

*Ejercicio 6*

**6.** En la clase 1 te mostramos las siguientes afirmaciones:

In [ ]:
a = 1
b = 1
print(a is b)

a = 1000
b = 1000
print(a is b)

True
False

Y, por supuesto, tienes curiosidad por la diferencia. Aprendimos en la clase 1 que los números enteros -5 hasta 255 fueron internados (guardados en disco) cuando comenzó Python, esto significa que los objetos con estos valores ya estaban creados. Ahora deseaamos escribir un programa que nos diga que 256 es de hecho el primer número entero que Python no esta guardado en disco.

Escrbimos el siguiente programa y ahora necsitamos explicar por qué este programa imprimirá "Sorpresa". ¿No debería romperse mientras se procesa el número entero 256, ya que ese número no está guardado internamente?

In [ ]:
for x in range(1000):
    a = x
    b = x
    if not (a is b):
        print(f"the highest integer {x-1}")
        break
else:
    print("Surprise")
# Tal vez el número está siendo reconocido, es por ello que el bucle se rompe.

Surprise

*Ejercicio 7*

**7.** Vuelva a escribir la siguiente declaración sin un bucle y solo usando declaraciones condicionales:

In [ ]:
i = 1
while i < 4:
    print(i)
    i +=1

1
2
3

In [ ]:
i = 1
if i < 4:
    print(i)
    print(i+1)
    print(i+2)

1
2
3